:root {
    --lavander: #CDC7E5;
    --light-green: #73ab84;
    --mid-blue: #3e61a3;
    --dark-blue: #0e0f19;
    --deep-purple: #371b2f;
    --off-white-cream: #968a46;
}

#custom-navbar{
    position: sticky;
    top: 0;
    background-color: var(--light-green);
    color: var(--dark-blue);
    margin: 0;
    padding: 0;
}

.d-flex{
    justify-content: center;
    margin: 2px;
    flex-wrap: wrap;
}
.card{
    margin: 6px;
    width: 50%;

}