:root {
    --lavender: #CDC7E5;
    --light-green: #73ab84;
    --mid-blue: #3e61a3;
    --dark-blue: #0e0f19;
    --deep-purple: #371b2f;
    --off-white-cream: #968a46;

    --background-color: #e7ecef;
    --navbar-color: #6096ba;
    --highlight: #a3cef1;
}

*{
    font-style: Verdana,Geneva,sans-serif;
    font-display: black;
}

#custom-navbar{
    background-color: var(--navbar-color);
    padding: 0;
    font-display:var(--dark-blue);
    font-weight: 600;
    height: 48px;
}

#navbar-row{
    margin-bottom: 100px;
    padding-left: 10px;
}

/* Navbar animation on hover */

/* .nav-link:hover{
    background-color: var(--highlight);
    border-radius: 6px;
    transition: .4s;
} */